<%
const title = 'Admin - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleAdminAdd.css">

<section class="add_wrapper">
  <div class="container">
    <div class="title">Add A Quote</div>
    <form action="/admin/quotes/create" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Quote*:</span>
            <textarea id="quoteText" rows="4" cols="50"name="quoteText" required></textarea>
          </div>
            <div class="input-box">
              <span class="details">Character Name*:</span>
              <input type="text" id="characterName" name="characterName" required>
          </div>
      
          <div class="input-box">
              <span class="details">Anime Title*:</span>
              <input type="text" id="animeTitle" name="animeTitle" required>
          </div>
            
        </div> 
        <div class="button">
            <input type="submit" value="Add Quote">

        </div>
    </form>
</div>
</section>


<%- include('../partials/footer.ejs', { title: title }) %>

</body>
</html>