<%
const title = 'Admin - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleAdminAdd.css">

<section class="add_wrapper">
  <div class="container">
    <div class="title">Add An Anime</div>
    <form action="/admin/animes/create" method="post">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Title (English)*:</span>
                <input type="text" id="titleEnglish" name="titleEnglish" required>
            </div>
            <div class="input-box">
                <span class="details">Title (Romaji):</span>
                <input type="text" id="titleRomaji" name="titleRomaji">
            </div>
            <div class="input-box">
                <span class="details">Title (Native):</span>
                <input type="text" id="titleNative" name="titleNative">
            </div>
            <div class="input-box">
                <span class="details">Genre*:</span>
                <input type="text" id="genre" name="genre" required>
            </div>
            <div class="input-box">
                <span class="details">Release Date*:</span>
                <input type="text" id="releaseDate" name="releaseDate" placeholder="YYYY-MM-DD" required>
            </div>
            <div class="input-box">
                <span class="details">End Date:</span>
                <input type="text" id="endDate" name="endDate" placeholder="YYYY-MM-DD">
            </div>
            <div class="input-box">
                <span class="details">Anime Status*:</span>
                <input id="animeStatus" name="animeStatus" required>
            </div>
            <div class="input-box">
                <span class="details">Type Format*:</span>
                <input type="text" id="typeFormat" name="typeFormat" placeholder="TV or Movie" required>
            </div>
            
            <div class="input-box">
                <span class="details">Cover Image URL*:</span>
                <input type="text" id="coverImageURL" name="coverImageURL" required>
            </div>
            <div class="input-box">
                <span class="details">Background Image URL*:</span>
                <input type="text" id="backgroundImageURL" name="backgroundImageURL" required>
            </div>
            <div class="input-box">
                <span class="details">Streaming Platform URL:</span>
                <input type="text" id="streamingPlatformURL" name="streamingPlatformURL">
            </div>
            <div class="input-box">
                <span class="details">Episode/Movie Duration (in min):</span>
                <input type="text" id="episodeDuration" name="episodeDuration" >
            </div>
            <div class="input-box">
                <span class="details">Episode Count:</span>
                <input type="number" id="episodeCount" name="episodeCount" >
            </div>
            <div class="input-box">
                <span class="details">Synopsis:</span>
                <textarea id="synopsis" rows="4" cols="50"name="synopsis"></textarea>
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Add Anime">

        </div>
    </form>
</div>
</section>


<%- include('../partials/footer.ejs', { title: title }) %>

</body>
</html>