<%
const title = 'Admin - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleAdminAdd.css">

<section class="add_wrapper">
  <div class="container">
    <div class="title">Add A Character</div>
    <form action="/admin/characters/create" method="post">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Character Name*:</span>
                <input type="text" id="charName" name="charName" required>
            </div>
            <div class="input-box">
                <span class="details">Birthday:</span>
                <input type="text" id="charBirthday" name="charBirthday" placeholder="YYYY-MM-DD">
            </div>
            <div class="input-box">
                <span class="details">Age:</span>
                <input type="text" id="charAge" name="charAge">
            </div>
            <div class="input-box">
                <span class="details">Gender:</span>
                <input type="text" id="charGender" name="charGender">
            </div>
            <div class="input-box">
                <span class="details">Blood Type:</span>
                <input type="text" id="charBloodtype" name="charBloodtype">
            </div>
            <div class="input-box">
                <span class="details">Height (in cm):</span>
                <input type="text" id="charHeight" name="charHeight">
            </div>
            <div class="input-box">
              <span class="details">Description*:</span>
              <textarea id="CharSynopsis" rows="4" cols="50"name="CharSynopsis" required></textarea>
          </div>
            <div class="input-box">
                <span class="details">Image URL*:</span>
                <input type="text" id="charImageUrl" name="charImageUrl" required>
            </div>
      
            <div class="input-box">
                <span class="details">Family:</span>
                <textarea id="family" rows="4" cols="50"name="family"></textarea>
            </div>
            <div class="input-box">
              <span class="details">Given Names:</span>
              <textarea id="charNames" rows="4" cols="50"name="charNames"></textarea>
          </div>
          <div class="input-box">
            <span class="details">Hidden Names:</span>
            <textarea id="charHiddenNames" rows="4" cols="50"name="charHiddenNames"></textarea>
        </div>
        <div class="input-box">
          <span class="details">More Information:</span>
          <textarea id="charMoreInfo" rows="4" cols="50"name="charMoreInfo"></textarea>
        </div>
        <div class="input-box">
            <span class="details">Is Main Character:</span>
            <input type="checkbox" id="isMainCharacter" name="isMainCharacter">
        </div>       
    </div>
        <button type="submit" class="button" onclick="return confirm('Are you sure you want to add this character?')">Add Character</button>
    </form>
</div>
</section>


<%- include('../partials/footer.ejs', { title: title }) %>

</body>
</html>