<%
const title = 'Admin - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>
<link type="text/css" rel="stylesheet" href="/css/styleAdminAdd.css">

<section class="add_wrapper">
  <div class="container">
    <div class="title">Add A User</div>
    <form action="/admin/users/create" method="post">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Username*:</span>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-box">
                <span class="details">Email*:</span>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-box">
                <span class="details">Password*:</span>
                <input type="text" id="password" name="password" required>
            </div>
            <div class="input-box">
                <span class="details">Birthday:</span>
                <input type="date" id="birthday" name="birthday" placeholder="YYYY-MM-DD">
            </div>
            <div class="input-box">
                <span class="details">First Name:</span>
                <input type="text" id="firstname" name="firstname">
            </div>
            <div class="input-box">
                <span class="details">Last Name:</span>
                <input type="text" id="lastname" name="lastname">
            </div>
            <div class="input-box">
                <span class="details">Profile Picture URL:</span>
                <input type="text" id="profilepictureurl" name="profilepictureurl">
            </div>
            <div class="input-box">
                <span class="details">User Role*:</span>
                <input type="text" id="userole" name="userole" required>
            </div>
            <div class="input-box">
              <span class="details">Bio:</span>
              <textarea id="bio" rows="4" cols="50"name="bio"></textarea>
            </div>
          
        </div>
        <div class="button">
            <input type="submit" value="Add Character">

        </div>
    </form>
</div>
</section>


<%- include('../partials/footer.ejs', { title: title }) %>

</body>
</html>