<%
const title = 'Admin - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>


<section>
  <h1 style="text-align: center;">This is the add character functionality of the admin page </h1>
  <h4 style="text-align: center; margin-bottom:160px">It will be the page where the admin will be able to add a character</h4>
</section>


<%- include('../partials/footer.ejs', { title: title }) %>

</body>
</html>