<%
const title = 'Admin - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>

<link type="text/css" rel="stylesheet" href="/css/styleAdminAdd.css">

<section class="add_wrapper">
  <div class="container">
    <div class="title">Edit A Quote</div>
    <form action="/admin/quotes/update/<%= quote.QuoteID %>" method="post">
        <div class="user-details">
            <div class="input-box">
              <span class="details">Quote*:</span>
              <textarea id="quoteText" rows="4" cols="50"name="quoteText" required><%= quote.quoteText %></textarea>
            </div>
        </div>
        <button type="submit" class="button" onclick="return confirm('Are you sure you want to edit this quote?')">Edit Quote</button>
    </form>
</div>
</section>


<%- include('../partials/footer.ejs', { title: title }) %>

</body>
</html>