.add_like_description_container {
    display: flex;
    margin-left: 230px !important;
  }

  .like_btn{
    width: auto !important;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.1) !important;
  }


.details {
  
  .title1 {
    top: 5px !important;
    font-weight: 900 !important;
    color: black !important;
    text-shadow: 2px 1px 3px rgba(62, 62, 62, 0.2) !important;
  }

  .names_given{
    top: 20px !important;
    position: relative;
    font-weight: 600;
  }

  .spoiler{
    top: 10px !important;
  }
}


/* SHOW/HIDE HIDDEN SURNAMES*/
.spoiler {
    filter: blur(5px); /* Apply blur effect initially */
    cursor: pointer; /* Set cursor to pointer on hover */
    position: relative;
    font-weight: 900;
    display: inline-block;
  }.spoiler-tooltip {
    position: absolute;
    left: 500px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    display: none;
    z-index: 1000; /* Adjust the z-index value */
  }

  .more_inf_cont{
    margin-left: 150px
  }
  
  .more_inf_content{
    color:white;
  }