@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{

    font-family: 'Poppins', sans-serif;
    margin: 0;

}


.anime_list a{
    text-decoration: none;
    color: black;

}

.heading{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    max-width: 950px;
    border-bottom: 1px solid var(yellow);
}

.anime_container{
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;

}

.anime_box .box-img{
    width: 100%;
    height: 270px;
}

.anime_box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}