@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.my_h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.my_h2 {
    display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.my_h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.my_p{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

body{
    background:rgb(8, 14, 31, 0.9) !important;
}
/* --- BACKGROUND --- */

.colored_background {
    position:fixed;
    top:0px;
    left:0px;
    height:calc(100% - 1px);
    width:100%;
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
    image-rendering: pixelated;
    z-index:-3;
}

.colored_background_accent {
    margin-top:-10px;
    width:100%;
    height:100px;
    background-color:rgb(8, 14, 31, 0.1);
    z-index:-2;
}


/* ---------- GENERAL -----------*/
*{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;


}




/* ---------- LOGO -----------*/

.website_logo{
    height: 90px;
    width:90px;
    box-shadow: 0 2px 4px rgb(8,14,31);
    
}

.logo_container{
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Vertically center the logo */

}

/* ---------- NAVBAR -----------*/

drop_down {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 0.5rem;
    background: rgb(8,14,31);
    margin: 13.5px 0 0 -20px;
    padding: 5px 0 0 5px;
    left: 28px;
    width: auto;
    display: none;
    z-index: 2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.browse:hover .drop_down {
    display: block;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgb(8,14,31);
    padding: 5px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    text-transform: capitalize;
    box-shadow: 3px 4px 2px rgba(255, 255, 255, 0.1);
    position: relative;
    margin-bottom: 20px;
}


.drop_text:hover{
    color: white;
}
header .navbar a, header .navbar li a{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: white;
    text-decoration: none;
    list-style: none;
}

header .navbar a:hover,header .navbar a.active{
    color: #fff;
    /*background: #3498db;*/
    background: rgb(41, 81, 135);
    margin-right: 6px;
}

header .icons i, header .icons a, header .icons p{
    cursor: pointer;
    margin-left: .5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    font-size: 20px;
    color: #192a56;
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover, header .icons a:hover, header .icons p:hover{
    color: #fff;
    transition: all .3s linear;
    background: rgb(72,144,222);
    transform: rotate(360deg);
}


header .icons #menu-bars{
    display: none;
}

header .navbar .nav-item ul{
    margin-top: -30px;
}

.typewriter {
    text-align: center; /* Center the text within the .typewriter container */
  }
  
  .typewriter h1 {
    color: white;
    overflow: hidden;
    border-right: .15em solid rgb(72,144,222); 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
  to { width: 80% } /* Adjusted to 100% to fill the container */
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(72,144,222); }
  }
  
  @media (max-width:991px){

    header{
        padding: 1rem 2rem;
    }

    header .navbar .nav-item ul{
        margin-top: 5px;
    }


  }

  @media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar .nav-item ul{
        margin-top: 5px;
    }
    
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: rgb(8,14,31);
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        display: none;
        z-index: 999;
    }

    header .navbar a {
        display: block;
        padding: 10px;
        background:rgb(72,144,222, 0.1) ;
        text-decoration: none;
    }

    header .navbar a:hover {
        color: white; /* inactive links */
    }

    header .navbar.active{
        display: block;
    }

    .typewriter {
        text-align: center;
        position: relative;
        z-index: 998; /* Ensure the typewriter is above the navbar */
    }

    .typewriter h1 {
        white-space: wrap;
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 1rem; 
    }
 
  }

  @media (min-width: 769px) and (max-width: 991px) {
    .typewriter h1 {

        white-space: wrap;
    }
    header .navbar .nav-item ul{
        margin-top: 5px;
    }

}

/* ---------- SEARCH BAR -----------*/
#search-form{
    top: -110%; left: 0;
    position: fixed;
    height: 100%; width: 100%;
    display: flex;
    align-items: center;
    z-index: 1004;
    padding: 0 1rem;
    justify-content: center;
    background: rgba(0,0,0,.8);
}

#search-form.active{
    top:0;
}
#search-form input:focus{
    outline:none;
}


#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 26px;
    padding: 1rem 0;
    background: none;
    text-transform: none;
    color: #fff;
}

#search-form #search-box::placeholder{
    color: #c8c8c8;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 27px;
}

#search-form label:hover{
    color: rgb(41, 81, 135);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 1.8rem;
}


/* ---------- BOUTONS -----------*/

.signup_btn, .login_btn{
    background: rgb(72,144,222);
    padding: 8px;
    font-weight: 800;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    list-style: none;
    margin-left:18px;
}

.login_signup_container{
    margin-left: 25px; 
    justify-content: right;
}

.login_signup_container a{
    text-shadow: 2px 1px 3px rgba(0,0,0,0.2);
}

/* ---------- NAVBAR - DROPDOWN -----------*/
.nav_bar_link, .drop_down li{
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}


.drop_down{
    position: absolute;
    text-align: center;
    color: black;
    font-size: 12px;
    border-radius: 0.5rem;
    background: white;
    margin: 13.5px 0 0 -20px;
    padding: 5px 0 0 5px;
    left: 28px;
    width: auto; /* Set width to 'auto' to cover a larger width */
    display:none;
    z-index: 2;
    box-shadow: 0 5px 10px rgb(0, 0, 0,0.5);

}

.drop_down_li {
    color: black !important;
    text-transform: lowercase !important;
    font-weight: 600 !important;
    text-align: center !important;
    transition: 0.3s !important;
    
}

.drop_down_li:hover {
    width: auto;
    font-size: 14px;
    font-weight: 700; 
    transform: scale(1.1);
    text-align: center;
}



.browse:hover .drop_down{
    display: block;
}

.browse a{
    display: flex;
}

.drop_down-icon{
    font-size: 20px;
    right: -5px;
    top: 2px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.4s ease-in-out all;
}

.browse:hover .drop_down-icon{
    transform: rotate(180deg);
}



  /* ---------- HEADER - PROFILE PICTURE SECTION -----------*/


  .triangle-clip-path {
    width: 80px; /* Adjust the size as needed */
    height: 80px; /* Adjust the size as needed */
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    overflow: hidden;
}

.profile-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-picture {
    width: 100%;
    height: 100%;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  z-index: 1;
  border-radius: 8px;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}



/* ---------- FOOTER -----------*/

.home_footer{
    background: rgb(8,14,31);
    width: auto;
    bottom: 0;
    background: linear-gradient(to right, #00093c);
    color: #fff;
    padding: 25px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}


.row_footer{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between
}

.col_footer{
    flex-basis: 25%;
    padding: 10px;
}

.col_footer:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.website_logo_footer{
    margin-top: 0;
    height: 50px;
    width:50px;

}

.col_footer h4{
    width: fit-content;
    position: relative;
    margin-bottom: 40px;
    margin-left: 40px;
}

.col_footer ul li{
    list-style: none;
    margin-bottom: 12px;
}

.col_footer ul li a{
    text-decoration: none;
    color: white;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    margin-top: 20px;
    text-align: center;
}

.underline_footer{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline_footer span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}
@keyframes moving{
    0%{
        left:-20px;
    }
    100%{
        left: 100%;
    }
}












