
@import url('https://fonts.googleapis.com/css2?family=Sanchez:wght@200;300;400;500;600;700&display=swap');

h3{
  cursor: auto;
}

h4 {
  margin-bottom: 0;
}


/* ---------- 4 CARDS AT THE BEGINNING -----------*/

.row_in_card {
  display: flex;
  justify-content: center;
  margin: 10px;

}

.card_section{
  position: relative;
  margin-top: 50px;
  background: rgb(8,14,31);
  border-radius: 30px;
  top: -140px;
  left: 130px;
  width: 1028px;
  max-width: 1200px;
  justify-content: center;
}

.homecard{
  position: relative;
  background: white;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  color: slate;
  flex-basis: calc(33%-40px);
  margin: 20px;
  padding: 30px;
  overflow: hidden;
  transition: 0.2s ease all;
  width: 600px;
}

.homecard:before{
  content:"";
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  height: 5px;
  background: #fff;
  border-radius: 40px;
  transition: 0.5s ease all;
}


.card_section h3{
  color: black;
  z-index: 2;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

.card_section p{
  font-size: 13px;
  z-index: 2;
  margin: 10px 0 0;
}

/* Allows to put the bar above each card*/
.homecard.one:before{
  background-image: linear-gradient(153deg, blue 0%, green 95%);
}
.homecard.two:before {
  background-image: linear-gradient(153deg, red 0%, yellow 95%);
}
.homecard.three:before{
  background-image: linear-gradient(153deg, rgb(135, 192, 235) 0%, rgb(155, 206, 242) 95%);
}
.homecard.four:before{
  background-image: linear-gradient(153deg, rgb(255, 180, 180) 0%, rgb(255, 230, 153) 95%);
}

/* Hovers the card (without the text)*/
.homecard:hover{
  border:0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  color: #fff;
  transform: scale(1.05);
  z-index: 2;
}

/* Allows to make the color of the bar fill the card with animation*/
.homecard:hover:before{
  border-radius: 20px;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

/* Hovers the text too now*/
.homecard:hover h3, .homecard:hover p{
  text-shadow: 2px 1px 3px rgba(0,0,0,0.2);
  position: relative;
  z-index: 2;
}

.homecard:hover p{
  font-size: 14px;
}
.homecard:hover h3{
  font-size: 24px;
}


/* ---------- JOIN BUTTON -----------*/

.join-button-container {
  flex-direction: column;
  
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -60px; 
  height: 60px;
  left: 41.4%; 
  transform: translateY(-50%); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
  border-radius: 15px; 
  padding: 10px 20px;
  background: rgb(72,144,222);
  width: 160px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.join-button{

  text-decoration: none;
  color: white;
  text-shadow: 2px 1px 3px rgba(0,0,0,0.2);

}

.join-button-container:hover {
  background: rgb(101, 199, 196);
  transition: 0.5s;
  transform: scale(1.4);
}

/* ---------- ANIME SECTION -----------*/


.header_title_anime{
  position: relative;
  margin-top: 70px;
  margin-bottom: 10px;
  
}

.header_title_anime:before{
  content:"";
  position: absolute;
  top: 35px;
  right: 20px;
  left: 70px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
}

/* Allows to put the bar above each card*/
.header_title_anime.one:before{
  background-image: linear-gradient(153deg, black 0%, black 95%);
}

.popular_now_block, top_100 {
  position: relative;
  margin: auto; 
  max-width: 900px; 

}

.popular_now_block .recentAnime {
  position: relative;
  min-height: 150px;
  background: var(--white);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}


.popular_now_block .animeCard {
  display: flex;
}

.animeCard .card {
  width: 200px;
  height: 345px;
  overflow: hidden;
  display: flex;
  margin-right: 30px;
}

.popular_now_block .animeCard .card img {
  max-width: 100%;
  
}


.animeCard .animeName {
  background-color: rgb(229, 233, 237);
  border-radius: 5px;
  text-align: center;
  padding: 4px;
  color: black;
  font-weight: 600;
}



.animeCard .animeName:hover {
  text-decoration: underline;
}

.animeCard .animeName a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
}

.cardHeader_a{
  text-decoration: none;
  color: black;
  
}

.cardHeader{
  margin-top: 50px;
}

.animeCard .card .cover_image {
  min-width: 200px;
    min-height: 310px; 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  display: block; 
  max-width: 200px; 
  max-height: 310px; 
}


/* ---------- REVIEWS SECTION -----------*/

.reviews_header_title{
  text-align: center;
  font-size: 30px !important;

}
.review_box{
  position: relative;
  perspective: 1000px;
  display: flex;
  justify-content: center;
}

.review_box .slide_container .slide{
  border-radius: 5px;
  background: white;
  box-shadow: 0 5px 10px #3337;
  width: 450px;
  padding: 20px;
  margin: 10px;
  margin-left: 80px;
  margin-bottom: 50px;
  position: relative;
  transform-style: preserve-3d;
  animation: slide .4s linear backwards;
}

@keyframes slide{
  0%{
      transform:rotateX(90deg);
  }
}

.review_box .slide_container .slide > *{
  animation: slideContent .2s linear .4s;
}

@keyframes slideContent{
  0%{
      opacity:0;
      transform:scale(.5);
  }
}

.review_box .slide_container .slide .icon{
  top: 10px; right: 15px;
  font-size: 90px;
  position: absolute;
  color: rgb(80,157,220);
}

.review_box .slide_container .slide .user{
  display: flex;
  align-items: center;
}


.review_box .slide_container .slide img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.review_box .slide_container .slide .user .user-info h3{
  color: #333;
  font-size: 20px;
}

.review_box .slide_container .slide .user .user-info .stars i{
  color: rgb(80,157,220);
  font-size: 15px;
}

.review_box .slide_container .slide #text {
  color: #333;
  font-size: 14px;
  padding-top:15px;
  font-style: italic;
}

.review_box .slide_container{
  display: none;
}

.review_box .slide_container.active{
  display: block;
}

.review_box #next_arrow, .review_box #prev_arrow{
  top: 50%;
  height: 50px;
  width:50px;
  position: absolute;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  background: white;
  color: #333;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 5px 10px #3337;
}

.review_box #next_arrow{
  right: -70px;
}

.review_box #prev_arrow{
  left: -70px;
}

.review_box #prev_arrow:hover, .review_box #next_arrow:hover{
  background-color: #333;
  color: white;
}


/* SHOW/HIDE Reviews*/
.spoiler {
  filter: blur(5px); /* Apply blur effect initially */
  cursor: pointer; /* Set cursor to pointer on hover */
  position: relative;
  display: inline-block;
}

.spoiler-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
  display: none;
  z-index: 1;
}


  /* ---------- TOP 100 SECTION -----------*/


  .top_100 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .individual_card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: stretch;
      margin-bottom: 20px;
      width: 100%;
      margin-left: 30px;
  }
  
    .top_100 p {
      margin: 0;
    }
  
    .top_100 .number {
      padding: 10px;
      font-size: 20px;
      margin-right: 20px;
      margin-top: 50px;
    }
  


  .the_three {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* Set the desired height */
      width: 100%;
      background-color: white;
      padding-right: 20px;
      padding-left: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
  }
  
  .name_box {
      display: flex;
      align-items: center;
  }

  .name_box a {
      text-decoration: none;
      color: initial; /* Use 'initial' to inherit the color from its parent */
      transition: color 0.3s ease; /* Add a smooth transition effect */
  }

  .name_box a:hover {
      color: red;
  }
  
  .name_box img {
      width: 50px; 
      height: 80px;
      object-fit: cover;
      margin-right: 10px; 
  }
  
    .status {
      font-size: 12px;
      color: #777;
      font-style: italic;
    }
  
    .rating {
      color: #777;
      margin-right: 10px;
    }
  
    .likes {
      color: #ff4d79;
    }
  
    .happy-smiley {
      color: green;
    }
  
    .sad-smiley {
      color: red;
    }

    .details p {
      font-size: 14px;
    }
  
    .details .tv-details, .details .movie-details {
      color: #777;
      font-size: 12px;
      font-style: italic;
    }

    .details {
      margin-top: 0;
      text-align: right;
  }

  /* ---------- TOP HEADER SECTION -----------*/


  .top_header {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 30px;
    margin-left:20px;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.big_top_three {
  display: flex;
  justify-content: center;}

.anime_container {
    width: 350px;
    height: 170px;
    

}

.anime_boxes {
    display: flex;
    justify-content: center;
    
    
}

.anime_box {
    margin-right: 20px; /* Adjust the margin as needed */
    align-items: center;
    text-align: center;

}

.anime_box a{
  text-decoration: none;
    list-style: none;
    color:black;
    font-weight:500;
}


.anime_box a:hover{
  text-decoration: underline;
} 
.anime_box .box-img {
    width: 80px;
    height: 120px; /* Set both width and height to 10px */
}

.anime_box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animeName {
    margin-top: 5px; /* Adjust the margin as needed */

}

  /* ---------- ACCESS ADIN DASHBOARD SECTION -----------*/

.access_container{
  margin-left: 25px; 
  justify-content: center;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.access_container a{
  text-shadow: 2px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
}


.acces_btn {
  background: rgb(255, 255, 255);
  padding: 8px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 1px 4px rgb(0, 0, 0);
  border: 1px solid black;
  list-style: none;
  transition: background-color 0.3s ease;
}

.acces_btn:hover {
  background-color: rgb(72,144,222);
  color: white;
}

  /* ---------- QUOTE SECTION -----------*/

.quote_of_day_header{
  text-shadow: 1px 1px 1px #aaa;
  color:black;
  font-size:2.5em;
  font-weight:bold;
  margin-top:20px;
  letter-spacing:2px;
  margin-bottom: 20px;
}

.quote_of_day_bg{
    height: 230px;  
    text-align: center;

    background-size: cover;
}


#quote {
  border: 1px solid black;
  box-shadow: 0 1px 4px rgb(0, 0, 0);
  height: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote a{
  text-decoration: none;
  list-style-type: none;
  color: black;
}
#quote dt {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#quote dd {
  font-size: 1em; 
}

#quote a:hover{
  color: rgb(72,144,222);
}

.quote_day_anime_box{
  background-color: rgb(72,144,222,0.2);
  border-radius: 10px;
  padding: 10px;
}

.quote_day_anime_box{
  font-family: 'Poppins', serif !important;
  font-weight: 600;
}



  /* ---------- BIRTHDAYS SECTION -----------*/

  .birthdays_section{
    margin-bottom: 90px;
  }

  
.birthdays_section .recentBirthday {
  position: relative;
  min-height: 150px;
  background: var(--white);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}


.birthdays_section .BirthdayCard {
  display: flex;
}

.BirthdayCard .card {
  width: 150px;
  height: 245px;
  overflow: hidden;
  display: flex;
  margin-right: 30px;
}

.birthdays_section .BirthdayCard .card img {
  max-width: 100%;
  
}


.BirthdayCard .card .cover_image {
  min-width: 200px;
    min-height: 310px; 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  display: block; 
  max-width: 200px; 
  max-height: 310px; 
}
