<%
const title = 'CharacterName - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title }) %>


<section>
  <h1 style="text-align: center;">This is the View Character page </h1>
  <h4 style="text-align: center; margin-bottom:160px">It will be the page that will apear when user wants to view a character</h4>
</section>


<%- include('../partials/footer.ejs', { title: title }) %>

</body>
</html>