<footer class="footer_home">
    <div class="row_footer">
        <div class="col_footer">
            <img src="/img/website_logo.png" class="website_logo_footer">
            <p>YourAnimeHub is more than just an anime catalog. It's a community-driven platform for all things anime. Whether you're a seasoned anime connoisseur or are just starting your journey into the world of Japanese animation, YourAnimeHub is your go-to platform.</p>
        </div>
        <div class="col_footer">
            <h3>Social Medias <div class="underline_footer"><span></span></div></h3>
            <ul>
                <li><a href="https://github.com/Rolwenx/YourAnimeHub">Github</a></li>
                <li><a href="">Discord</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Facebook</a></li>
            </ul>
        </div>
        <div class="col_footer">
            <h3>Others <div class="underline_footer"><span></span></div></h3>
            <ul>
                <li><a href="">Recommend</a></li>
                <li><a href="/terms">Terms & Privacy</a></li>
                <li><a href="">Sitemap</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <p class="copyright">YourAnimeHub © 2023 - Designed by YOKE NGASSA - All Rights Reserved</p>
    
</footer>