<footer class="home_footer">
    <div class="row_footer">
        <div class="col_footer">
            <img src="/img/website_logo.png" class="website_logo_footer">
            <p class="my_p">YourAnimeHub is more than just an anime catalog. It's a community-driven platform for all things anime. Whether you're a seasoned anime connoisseur or are just starting your journey into the world of Japanese animation, YourAnimeHub is your go-to platform.</p>
        </div>
        <div class="col_footer">
            <h4 style="display: block;
            font-size: 1.12em;
            margin-top: 1em;
            margin-bottom: 40px;
            margin-left: 20px;
            margin-right: 0;
            font-weight: bold;
            ">Social Medias <div class="underline_footer"><span></span></div></h4>
            <ul>
                <li><a href="https://github.com/Rolwenx/YourAnimeHub">Github</a></li>
                <li><a href="">Discord</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Facebook</a></li>
            </ul>
        </div>
        <div class="col_footer">
            <h4 style="display: block;
            font-size: 1.12em;
            margin-top: 1em;
            margin-bottom: 40px;
            margin-left: 30px;
            margin-right: 0;
            font-weight: bold;">Others <div class="underline_footer"><span></span></div></h4>
            <ul>
                <li><a href="">Recommend</a></li>
                <li><a href="/terms">Terms & Privacy</a></li>
                <li><a href="">Sitemap</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>
    <hr style="width: 100%;">
    <p class="copyright">YourAnimeHub © 2023 - Designed by YOKE NGASSA - All Rights Reserved</p>
    
</footer>