<%
const title = 'Browse Characters - YourAnimeHub';
%>
<%- include('../partials/header.ejs', { title: title}) %>
<link type="text/css" rel="stylesheet" href="../css/styleBrowseCharacter.css">


<h1 style="text-align: center;">
    <a href="/character/characterid/charactername">View An Anime</a>
  </h1>
<section class="section">
  <div class="search_wrap search_wrap_1">
      <h2>Which character are you looking for?</h2>
      <h4>Search</h4>
            <div class="search_box">
                <input type="text" class="input">
                <div class="btn btn_common">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
</section>
<section class="characters_container">
  <div class="card card0">
      <div class="border">
          <h2>Eren Yeager</h2>
      </div>
  </div>
  
  <div class="card card1">
      <div class="border">
          <h2>Eren Yeager</h2>
      </div>
  </div>
  <div class="card card2">
      <div class="border">
          <h2>Eren Yeager</h2>
      </div>
  </div>
  <div class="card card3">
      <div class="border">
          <h2>Eren Yeager</h2>
      </div>
  </div>
  <div class="card card4">
      <div class="border">
          <h2>Eren Yeager</h2>
      </div>
  </div>
  <div class="card card5">
      <div class="border">
          <h2>Eren Yeager</h2>
      </div>
  </div>
  <div class="card card6">
      <div class="border">
          <h2>Eren Yeager</h2>
      </div>
  </div>
  <div class="card card7">
      <div class="border">
          <h2>Eren Yeager</h2>
      </div>
  </div>
  <div class="card card8">
      <div class="border">
          <h2>Eren Yeager</h2>
      </div>
  </div>
  <div class="card card9">
      <div class="border">
          <h2>Eren Yeager</h2>
      </div>
  </div>
  <!-- Add more cards here -->

  </section>
  <div class="load-more-container">
      <button id="load-more-button" class="load-more-button">Load More</button>
  </div>


<%- include('../partials/footer.ejs') %>


</body>
</html>