<%
const title = 'YourAnimeHub';
%>
<%- include('partials/header.ejs', { title: title}) %>

<div class="colored_background"></div>

<div class="colored_background_accent"></div>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <img style="height: 600px; width: 800px; box-shadow: 0 8px 20px rgba(0,0,0,0.3);" src="/img/404_image.jpeg" alt="Responsive image">
  </div>
  <%- include('partials/footer.ejs') %>


</body>
</html>
