<%
const title = 'Browse Anime - YourAnimeHub';
%>
<%- include('partials/header.ejs', { title: title}) %>
<link type="text/css" rel="stylesheet" href="/css/styleBrowse.css">


<section class="section">
  <div class="search_wrap search_wrap_1">
    <h4>Search</h4>
    <div class="search_box">
      <input type="text" class="input">
      <div class="btn btn_common">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
  <div class="dropdown_filter">
    <h4>Genre</h4>
    <div class="select">
      <span class="selected">Any</span>
      <div class="caret"></div>
    </div>
    <ul class="menu">
      <li class="active">Any</li>
      <li>Action</li>
      <li>Adventure</li>
      <li>Romance</li>
      <li>Sports</li>
    </ul>
  </div>
  <div class="dropdown_filter">
    <h4>Year</h4>
    <div class="select">
      <span class="selected">Any</span>
      <div class="caret"></div>
    </div>
    <ul class="menu">
      <li class="active">Any</li>
      <li>1999</li>
      <li>2002</li>
      <li>2006</li>
      <li>2015</li>
    </ul>
  </div>
  <div class="dropdown_filter">
    <h4>Format</h4>
    <div class="select">
      <span class="selected">Any</span>
      <div class="caret"></div>
    </div>
    <ul class="menu">
      <li class="active">Any</li>
      <li>TV</li>
      <li>Movie</li>
      <li>Manga</li>
    </ul>
  </div>
  <button id="filter-toggle" class="filter-button">
    <i class="fa fa-filter"></i> Filter
</button>
<div class="popup-container" id="filter-popup">
    <div class="filter-container">
        <label for="airing-status">Airing Status:</label>
        <select id="airing-status">
            <option value="">Any</option>
            <option value="airing">Airing</option>
            <option value="finished">Finished</option>
            <option value="not-aired">Not Aired</option>
            <option value="cancelled">Cancelled</option>
        </select>
        
        <label for="country-of-origin">Country of Origin:</label>
        <select id="country-of-origin">
            <option value="">Any</option>
            <option value="Japan">Japan</option>
            <option value="South Korea">South Korea</option>
            <option value="China">China</option>
            <option value="Taiwan">Taiwan</option>
        </select>
        
        <label for="year-range">Year Range:</label>
        <input type="range" id="year-range" min="1970" max="2023">
        
        <label for="episode-count">Episode Count:</label>
        <input type="range" id="episode-count" min="0" max="1000">
        
        <label for="genre-filter">Genre:</label>
        <select id="genre-filter" multiple>
            <option value="romance">Romance</option>
            <option value="action">Action</option>
            <option value="adventure">Adventure</option>
            <option value="fantasy">Fantasy</option>
        </select>
    </div>
    <button type="button" onclick="popupDisappears()">OK</button>
  <div class="results">
      <!-- Display filtered results here -->
  </div>
</div>
</section>


<%- include('partials/footer_home.ejs') %>
<script>
  const dropdowns = document.querySelectorAll('.dropdown_filter');

// We now loop through all the dropdown elements
dropdowns.forEach(dropdown => {
    const select = dropdown.querySelector('.select');
    const caret = dropdown.querySelector('.caret');
    const menu = dropdown.querySelector('.menu');
    const options = dropdown.querySelectorAll('.menu li');
    const selected = dropdown.querySelector('.selected');

    select.addEventListener('click', () => {
        select.classList.toggle('select-clicked');
        caret.classList.toggle('caret-rotate');
        menu.classList.toggle('menu-open');
    });

    options.forEach(option => {
        option.addEventListener('click', () => {
            selected.innerText = option.innerText;
            select.classList.remove('select-clicked');
            caret.classList.remove('caret-rotate');
            menu.classList.remove('menu-open');

            options.forEach(option => {
                option.classList.remove('active');
            });

            option.classList.add('active');
        });
    });
});
</script>

</body>
</html>