<%
const title = 'Profile - YourAnimeHub';
%>
<%- include('partials/header.ejs', { title: title}) %>


<section>
  <h1 style="text-align: center;">This is the Profile page </h1>
  <h4 style="text-align: center; margin-bottom:160px">It will be the page where the user will see his profile</h4>
</section>


<%- include('partials/footer.ejs') %>

</body>
</html>