<%
const title = 'Watchlist - YourAnimeHub';
%>
<%- include('partials/header.ejs', { title: title}) %>


<section>
  <h1 style="text-align: center;">This is the watchlist page </h1>
  <h4 style="text-align: center; margin-bottom:160px">It will be the page where the user manage his watchlist of anime/manga</h4>
</section>


<%- include('partials/footer.ejs') %>

</body>
</html>