<%
const title = 'Terms & conditions - YourAnimeHub';
%>
<%- include('partials/header.ejs', { title: title}) %>
<link type="text/css" rel="stylesheet" href="/css/styleTermsConditions.css">


<section class="terms_section">
    <h2 class="h2">Terms and Conditions of Use</h2>
        <ol class="ol">
            <li class="terms_li">
                <h3>Acceptance of Terms</h3>
                <p>By accessing and using the YourAnimeHub website, you agree to comply with and be bound by these terms and conditions. If you do not agree with any part of these terms, you should not use our website.</p>
            </li>
            <li class="terms_li">
                <h3>User Conduct</h3>
                <p>You must be at least 13 years old to use our services. You agree not to engage in any unlawful or prohibited activities while using our website. You are responsible for maintaining the confidentiality of your account and password.</p>
            </li>
            <li class="terms_li">
                <h3>Content</h3>
                <p>YourAnimeHub may contain user-generated content. We do not endorse, control, or assume any responsibility for such content. You are solely responsible for the content you post or submit on our platform.</p>
            </li>
            <li class="terms_li">
                <h3>Intellectual Property</h3>
                <p>YourAnimeHub and its content are protected by copyright and other intellectual property laws. You may not use our content without our written permission.</p>
            </li>
            <li class="terms_li">
                <h3>Privacy Policy</h3>
                <p>Your use of our website is also governed by our Privacy Policy, which is incorporated into these terms.</p>
            </li>
            <li class="terms_li">
                <h3>Termination</h3>
                <p>We reserve the right to terminate your access to the website at our discretion, without notice.</p>
            </li>
            <li class="terms_li">
                <h3>Limitation of Liability</h3>
                <p>We are not liable for any direct, indirect, incidental, special, or consequential damages resulting from your use of our website.</p>
            </li>
            <li class="terms_li">
                <h3>Governing Law</h3>
                <p>These terms and conditions are governed by and construed in accordance with the laws of France.</p>
            </li>
            <li class="terms_li">
                <h3>Changes to Terms</h3>
                <p>We may revise these terms at any time without notice. Please check these terms regularly for updates.</p>
            </li>
            <li class="terms_li">
                <h3>Contact Information</h3>
                <p>For any questions or concerns about these terms, you may contact us at yoke.ngassa@efrei.net</p>
            </li>
        </ol>
</section>


<%- include('partials/footer.ejs') %>

</body>
</html>